### DEFINITIONS FOR THE SOURCE VERIFICATION SCRIPT ###
[sourceverify]

## 'database' is the database with package and origin information
## SHA256 checksums, paths, and so on
database = /gpl/master3/master.sqlite3

## 'tlshdatabase' is the database containing the exploded Git
## information. It is typically the same as 'gitdatabase' in the
## sections below.
tlshdatabase = /ramdisk/kernelgit.sqlite3

## The information in 'database' contains origin information. Using
## the 'trusted' field it is possible to mark package/origin combinations
## as trusted or not.
#trusted = linux|kernel:glibc|gnu
trusted = linux|kernel

## The 'scanlicense' attribute can be set to indicate whether or not
## files that were not found in the database should be scanned using
## Ninka and FOSSology. This requires that Ninka and FOSSology are
## installed
#scanlicense = yes
scanlicense = no

## The 'verbose' parameter is to let the script(s) be more verbose
## like this comment.
verbose = yes


### DEFINITIONS FOR THE DATABASE CREATION SCRIPT ###

[global]
#gitdatabase = /ramdisk/kernelgit.sqlite3
gitdatabase = /gpl/tmp/db/kernelgit.sqlite3
processors = 7
gitpath = /ramdisk/git
optimizedb = yes
#statebackupdir =

### DEFINITIONS FOR THE GIT REPOSITORIES ###

[linux]
## the 'type' parameter should be set to 'project' for Git repositories
type = project

## The 'enabled' parameter tells the scripts whether or not this project
## should be conisdered. As a rule of thumb you should never disable a
## repository that is more important and leave one of less importance
## enabled.
enabled = yes

## 'project' is used to set the project name. In this case the project
## is the Linux kernel, so it is set to 'linux' for all the Git repositories
## that have a Linux kernel
project = linux

## gitdirs is a colon separated list of copies of the Git repository. Only
## the first is actually used and you really want to have this copy on a
## ramdisk.
gitdirs = /ramdisk/linux
#gitdirs = /gpl/tmp/linux

## 'ramdisk' indicates whether or not the repository is set on a ramdisk
## If so, then only the first value of 'gitdirs' is used. This is a leftover
## from an earlier incarnation of the script and it should actually be
## cleaned up.
ramdisk = yes

## when generating the database part of the run time state can be dumped to a
## Python pickle. When re-running the database script to update the database
## this pickle will be read form disk and state will be restored. This is an
## optimization that can save quite a bit of time.
restorestate = yes

## The location of the Python pickle is stored in 'statefile'
statefile = /tmp/seendict-linux

## The priority of the repository is stored in 'priority'. The lower this
## number, the bigger the importance of the repository. Entries from a more
## important repository will overwrite entries from a less important
## repository.
priority = 1

## The URL of the Git repository. This is used for several sanity checks.
giturl = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git

## the 'trustedrepository' keyword can be set to temporarily disable
## repositories during checks. As a rule of thumb: when untrusting a repository
## don't trust a less important repository.
trustedrepository = yes

[renesas-backports]
type = project
enabled = no
project = linux
#gitdirs = /ramdisk/linux
gitdirs = /gpl/tmp/renesas-backport
ramdisk = yes
restorestate = yes
statefile = /tmp/seendict-linux-renesas-backports
priority = 2
giturl = git://git.kernel.org/pub/scm/linux/kernel/git/horms/renesas-backport.git
trustedrepository = yes

[renesas-bsp]
type = project
enabled = no
project = linux
#gitdirs = /ramdisk/linux
gitdirs = /gpl/tmp/renesas-bsp
ramdisk = yes
restorestate = yes
statefile = /tmp/seendict-linux-renesas-bsp
priority = 2
giturl = git://git.kernel.org/pub/scm/linux/kernel/git/horms/renesas-bsp.git
trustedrepository = yes
#
#[renesas-drivers]
#type = project
#enabled = yes
#project = linux
#gitdirs = /ramdisk/renesas-drivers
##gitdirs = /gpl/tmp/linux
#ramdisk = yes
#restorestate = yes
#statefile = /tmp/seendict-linux-renesas-drivers
#priority = 2
#giturl = git://git.kernel.org/pub/scm/linux/kernel/git/geert/renesas-drivers.git
#trustedrepository = yes

[linux-stable]
type = project
enabled = yes
project = linux
#gitdirs = /ramdisk/linux-stable
gitdirs = /gpl/tmp/linux-stable
ramdisk = yes
restorestate = yes
statefile = /tmp/seendict-linux-stable
priority = 2
giturl = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
#trustedrepository = yes

[arm-soc]
type = project
enabled = no
project = linux
#gitdirs = /ramdisk/arm-soc
gitdirs = /gpl/tmp/arm-soc
ramdisk = yes
restorestate = yes
statefile = /tmp/seendict-linux-arm-soc
priority = 3
giturl = git://git.kernel.org/pub/scm/linux/kernel/git/arm/arm-soc.git
#trustedrepository = yes

[arm64]
type = project
enabled = no
project = linux
#gitdirs = /ramdisk/arm64
gitdirs = /gpl/tmp/arm64
ramdisk = yes
restorestate = yes
statefile = /tmp/seendict-linux-arm64
priority = 4
giturl = git://git.kernel.org/pub/scm/linux/kernel/git/arm64/linux.git
#trustedrepository = yes

[horms]
type = project
enabled = no
project = linux
#gitdirs = /ramdisk/horms-renesas
gitdirs = /gpl/tmp/horms-renesas
ramdisk = yes
restorestate = yes
statefile = /tmp/seendict-linux-horms
priority = 5
giturl = git://git.kernel.org/pub/scm/linux/kernel/git/horms/renesas
#trustedrepository = yes

[linux-media]
type = project
enabled = no
project = linux
#gitdirs = /ramdisk/media
gitdirs = /gpl/tmp/media
ramdisk = yes
restorestate = yes
statefile = /tmp/seendict-linux-media
priority = 6
giturl = git://linuxtv.org/pinchartl/media
#trustedrepository = yes

[busybox]
type = project
enabled = no
project = busybox
gitdirs = /ramdisk/busybox
ramdisk = yes
restorestate = yes
statefile = /tmp/seendict-busybox
trustedrepository = yes
